
.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
  color: red;
}

a.nav-link {
  color:   #e7e4e4 !important;
}


/* .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
} */

.card-title{ 
  margin-bottom: 0px;
}

/* .card-deck { 
  margin-bottom: 5%;
} */

.card{
  width: 22rem;
  display: inline-block;
  margin: 5px;
}


.page { 
  padding: 0.5%;
}

.badge {
  margin: 2px;
}